$darkBlue: #072448;
$gold: #21ce99;

.grey-text {
	color: #9e9e9e !important;
}
.team-section {
	h2 {
		font-weight: 600;
	    font-size: 45px;
	    line-height: 67px;
	    color: $darkBlue;
	    margin-bottom: 20px !important;
	}
	.team-wrapper {
		margin-top: 80px;
	}
	.avatar{
		img {
			max-width: 200px;
    		height: auto;
			-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    		filter: grayscale(100%);
		}
		.def-avatar {
    		background: #558EFF;
		}
	}
	.name {
		color: $darkBlue;
	}
	.position {
		color: $gold;
	}
	.social-btn {
		width: 36px;
    	height: 36px;
    	cursor: pointer;
    	margin: 10px;
    	text-align: center;
    	border-radius: 50%;
    	-webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
	    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
	    -webkit-transition: all .2s ease-in-out;
	    transition: all .2s ease-in-out;
	    &:hover {
	    	-webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    		box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	    }
	    i {
	    	font-size: .96154rem;
    		line-height: 36.15385px;
    		color: #fff;
	    }
	}
    .linkedin {
    	background-color: #0082ca !important;
    }
    .gmail {
    	background-color: #c61118 !important;
    }
    .twitter {
    	background-color: #55acee !important;
    }
    .facebook {
    	background-color: #3b5998 !important;
    }
}